/********* VARIABLES ***************/
:root {
    --color-primary: #432A5E;
    --color-secondary: #341F4A;
    --color-join-button: #FFEB00;
    --color-text-1: #FFF;
    --color-text-2: #E9E6EC;
    --color-text-3: #FBE134;
    --color-text-4: #C4AEC0;
    --color-text-5: #85FC33;
    --color-text-6: #C3ACBF;
    --color-border-primary: #6E5B83;
    --color-border-secondary: #FF3250;
    --font-size-small: 0.7em;
    --font-size-medium: 0.9em;
    --font-size-large: 1.1em;
    --font-family-primary: 'Lato', sans-serif;
}
/********* GLOBAL ***************/
body {
    font-family: var(--font-family-primary);
    margin: 0 auto;
    color: var(--color-text-1);
    background: var(--color-secondary);
}
/********* BUTTONS ***************/
.btn {
    background: var(--color-join-button);
    border: none;
    border-radius: 4px;
    color: var(--color-primary);
    font-weight: 700;
    font-size: var(--font-size-medium);
    margin: 10px 0;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.join-btn {
    display: flex;
    font-weight: 900;
    justify-content: center;
}
.btn-top {
    position: relative;
    top: 250px;
}
/********* HEADER ***************/
.head {
    align-items: center;
    display: flex;
}
.item-1 {
    flex-grow: 2;
    font-size: var(--font-size-medium);
    padding-left: 10px;
}
.item-3 {
    padding: 20px 30px;
}
.logo {
    font-weight: 900;
    letter-spacing: -0.05em;
}
#login-btn {
    background: var(--color-border-primary);
    color: var(--color-text-2);
    font-size: var(--font-size-medium);
    margin-right: 10px;
    padding: 10px 10px;
}
/********* BANNER ***************/
.banner {
    background-image: url("../assets/banner-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
/****** WINNERS ************/
.win {
    align-items: center;
    background: var(--color-border-primary);
    color: var(--color-text-6);
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-medium);
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
    padding-top: 50px;
}
.win span {
    color: var(--color-text-1);
    font-weight: 700;
}
#winners {
    animation: none;
    color: var(--color-text-3);
    font-weight: 700;
    padding-right: 0;
    padding-left: 10px;
    z-index: 1;
}
.win p {
    animation: floatText linear 10s infinite;
    background: var(--color-border-primary);
    white-space: nowrap;
}
@keyframes floatText {
    0% {
        transform: translateX(100%);
   }
    100% {
        transform: translateX(-100%);
   }
}
/********* COMPONENTS ***************/
.components {
    display: flex;
    justify-content: space-between;
}
.components p {
    font-size: var(--font-size-small);
}
.component-1, .component-2, .component-3, .component-4 {
    background: var(--color-primary);
    color: var(--color-text-6);
    flex-basis: 24.8%;
    text-align: center;
}
.component-4 {
    box-shadow: 0px 5px 10px 5px var(--color-secondary);
    border-bottom: thick solid var(--color-border-secondary);
    color: var(--color-text-1);
}
/********* GAMES ***************/
.games {
    display: flex;
    flex-direction: column;
}
.games p {
    font-size: var(--font-size-medium);
    margin: 0;
    padding: 10px;
}
.game-icon {
    border: 3px solid var(--color-border-secondary);
    border-radius: 12px;
    float: left;
    margin: 10px;
}
.game-icon-2 {
    float: right;
}
.game_name {
    color: var(--color-text-5);
}
.game-2 {
    background: var(--color-primary);
}
/********* FOOTER ***************/
.footer {
    background: var(--color-primary);
    text-align: center;
}
.egr {
    align-items: center;
    align-content: center;
    background-color: var(--color-border-secondary);
    display: flex;
    font-size: var(--font-size-small);
    justify-content: center;
    text-transform: uppercase;
    text-align: left;
}
.egr-text {
    font-size: var(--font-size-large);
    padding-left: 10px;
}
.footer-icons {
    display: flex;
    flex-wrap: wrap;
}
.icon-1, .icon-2 {
    align-content: space-between;
    flex-basis: 50%;
    padding-top: 20px;
}
.icon-3, .icon-4, .icon-5 {
    align-content: space-between;
    flex-basis: 33.3%;
    padding-top: 10px;
}
.legal {
    color: var(--color-text-6);
    font-size: var(--font-size-small);
    margin: 0 5%;
    padding: 5px 10px;
}
/************************** MEDIA QUERIES **************************/
@media screen and (min-width: 768px) {
    .banner-mobile, .item-3 {
        display: none;
   }
    #login-btn {
        background: var(--color-border-primary);
        color: var(--color-text-2);
        font-size: var(--font-size-large);
        margin-right: 20px;
        padding: 5px 10px;
   }
    #btn-btm {
        margin: 30px 0;
   }
    #winners {
        background: var(--color-primary);
   }
    .banner {
        background-image: url("../assets/banner-desktop.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 350px;
   }
    .wrapper {
        display: flex;
        flex-direction: column;
   }
    .wrapper > * {
        order: 9999;
   }
    .header {
        order: 1;
   }
    .win {
        background: var(--color-primary);
        border-bottom: thin solid var(--color-border-primary);
        order: 2;
        padding: 0;
   }
    .win p {
        background: var(--color-primary);
        color: var(--color-text-4);
   }
    .btn-top {
        top: 280px;
   }
    .components {
        background: var(--color-primary);
        padding: 0 20%;
   }
    .games {
        flex-direction: row;
        margin-top: 20px;
        padding: 0 3%;
   }
    .game-2 {
        background: none;
   }
    .game-icon-2 {
        float: left;
   }
    .footer-icons {
        align-content: space-between;
        padding: 0 20%;
   }
    .legal {
        margin: 0 10%;
   }
}
