/********* VARIABLES ***************/
:root {
    --color-primary: #432A5E;
    --color-secondary: #341F4A;
    --color-join-button: #FFEB00;
    --color-text: #FFF;
    --color-comp: #6E5B83;
}
/********* GLOBAL ***************/
body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    color: var(--color-text);
    background: var(--color-secondary);
}

/********* BUTTONS ***************/
.btn {
    background: var(--color-join-button);
    color: var(--color-primary);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    font-weight: 700;
    font-size: 0.9em;
}
.join-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
#login-btn {
    background: var(--color-comp);
    color: #E9E6EC;
    margin: 5px 5px;
    font-size: 1.1em;
    width: auto;
}
/********* HEADER ***************/
.head {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.item-1 {
    flex-grow: 2;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
}
/********* BANNER ***************/
/* .banner-mobile {
    width: 100%;
}
.banner-desktop {
    display: none;
} */

.banner { 
    height: 300px;
    /* min-width: 100%; */
    /* max-height: 100%; */
    margin: 0;
    padding: 0;
    background-image: url("../img/banner-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;

}

/********* WINNERS ***************/

#winners {
    color: #FBE134;
    font-weight: 700;
    margin-left: 10px;
    animation: none;
    display: block;
}

.win {
    background: #6E5B83;
    color: #9588A5;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    /* width:100%; */
    overflow:hidden;
    border: 1px solid orange;
}

/* .win-1,
.win-2,
.win-3,
.win-4 {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    flex-wrap: wrap;
} */

.win span {
    color: var(--color-text);
    font-weight: 700;

}
.win p {
    /* position: absolute;
    display: block; */
    /* width: 100px; */
    animation: slide-left linear 4s infinite;
    /* animation-iteration-count: infinite; */
    /* position: relative; */
    background-color: red;
    /* width: 50px; */
    /* height: 20px; */
    /* animation-delay: -2s; */
}

@keyframes slide-left {
from {
    margin-left: 70%;
    width: -40%; 
}
to {
    margin-left: 0%;
    width: -40%;
   }
}

/********* COMPONENTS ***************/
.components {
    display: flex;
    justify-content: space-between;
}
#comp-1, #comp-2, #comp-3, #comp-4 {
    background: var(--color-primary);
    flex-basis: 24.8%;
    text-align: center;
    color: #9588A5;
}
.components p {
    font-size: 0.7em;
}
#comp-4 {
    box-shadow: -1px 2px 2px 2px var(--color-secondary);
    -webkit-box-shadow: -1px 2px 2px 2px var(--color-secondary);
    -moz-box-shadow: -1px 2px 2px 2px var(--color-secondary);
    color: var(--color-text);
    border-bottom: thick solid #FF3250;
}
/********* GAMES ***************/
.games {
    display: flex;
    flex-direction: column;
}
.games p {
    padding: 10px;
    margin: 0;
    font-size: 0.9em;
}
.game-icon {
    border: 3px solid #FF3250;
    border-radius: 12px;
    float: left;
    margin: 10px;
}
#game-icon-2 {
    float: right;
}
.game_name {
    color: #85FC33;
}
.game-2 {
    background: #432A5E;
}
/********* FOOTER ***************/
.footer {
    background: var(--color-primary);
    text-align: center;
}
.egr {
    background-color: #FF3250;
    text-transform: uppercase;
    text-align: left;
    font-size: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px 0;
}
#egr-text {
    padding-left: 10px;
    font-size: 1.1em;
}
.footer-icons {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    align-self: baseline;
}
.icon-1, .icon-2 {
    flex-basis: 50%;
    padding-top: 10px;
    align-content: center 
}
.icon-3, .icon-4, .icon-5 {
    flex-basis: 33.3%;
    padding-top: 10px;
}
.legal {
    color: #C3ACBF;
    padding: 5px 10px;
    font-size: 80%;
    height: 15vh;
}
/************************** MEDIA QUERIES **************************/
@media screen and (min-width: 768px) {
    .banner-mobile, 
    .item-3 {
        display: none;
    }
    .banner {
        max-height: auto;
        margin: 0;
        padding: 0;
        background-image: url("../img/banner-desktop.png");
        background-repeat: no-repeat;
        background-position: center; 
   }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .wrapper > * {
        order: 9999;
    }
    .header {
        order: 1;
    }
    .win {
        order: 2;
    }
    .components {
        padding: 0 20%;
        background: var(--color-primary);
   }
    .games {
        flex-direction: row;
        padding: 0 3%;
   }
    .game-2 {
        background: none;
   }
    #game-icon-2 {
        float: left;
   }
    .footer-icons {
        padding: 0 30%;
   }
}
